html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0,
      #d5bdf5 0,
      rgba(250, 247, 254, 0) 100%
    ) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
